{% extends 'base.html' %}
{% load static %} 
{% block title %}Django Delights{% endblock %}
{% block content %}
<div>
  <h2>Ingredients</h2>
  <table class="ingredients-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Unit Price</th>
      </tr>
    </thead>
    <tbody>
        {% for ingredient in object_list %}
          <tr>
            <td>{{ ingredient.name }}</td>
            <td>{{ ingredient.quantity }}</td>
            <td>{{ ingredient.unit }}</td>
            <td>{{ ingredient.unitprice }}</td>
          </tr>
        {% endfor %}
        </tbody>
  </table>
  <a href="{% url 'add_ingredient' %}" style="display: inherit; text-align: center; border-radius: 15px; text-decoration: none; color: inherit; padding: 4px; background-color: lightgreen;">➕</a>
</div>
{% endblock %}

