{% extends 'base.html' %}
{% load static %} 
{% block title %}Django Delights{% endblock %}
{% block content %}
<div>
  <h2>Menu</h2>
  <table class="menu-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for MenuItem in object_list %}
        <tr>
          <td>{{ MenuItem.title }}</td>
          <td>{{ MenuItem.price }}</td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
  <a href="{% url 'add_menu' %}" style="display: inherit; text-align: center; border-radius: 15px; text-decoration: none; color: inherit; padding: 4px; background-color: lightgreen;">➕</a>
</div>
{% endblock %}